<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5Z8P25E2DF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-5Z8P25E2DF');
  </script>

  <title>{{ site.name }}</title>

  <style>
    #clstr_globe {
      width: 200px;
      height: 200px;
    }
  </style>
  <meta name="description" content="Zarif Ikram's personal website">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="google-site-verification" content="UG5lapDi3zehHVLAXmLwViCb9vU_pjneNXpotz2MdJg" />
  <meta name="author" content="Zarif Ikram" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link rel="canonical" href="http://localhost:4000/">

  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">

</head>



<body>
  <table
    style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Zarif Ikram <span class="tooltip" data-text="Bangla">
    (জারিফ ইকরাম)
  </span>
              </h1>
              <p>
                I am a 1st year Annenberg PhD fellow at <a
                  href="https://viterbischool.usc.edu">USC</a>, advised by <a href="https://pariard.github.io"> Paria Rashidinejad</a>.
                  <!-- in
                collaboration with
                <a href="https://stephentu.github.io">Stephen Tu</a> & <a
                  href="https://scholar.google.com/citations?user=narJyMAAAAAJ&hl=en">Mahdi Soltanolkotabi</a>.  -->
                  I hold a B.Sc. from CSE,
                BUET (Class of '25).</p>
                  <p>
                  I am a research intern at <a
                  href="https://www.microsoft.com/en-us/research/lab/ai-frontiers/"> Microsoft Research AI Frontiers,
                  NYC </a>
                under <a href="https://hunch.net/~jl/"> John Langford </a> & <a
                  href="https://teapearce.github.io/">Tim Pearce</a>.
              </p>

              <p>
                Previously, I studied world models under <a
                  href="https://scholar.google.com/citations?user=kGSzBpMAAAAJ&hl=en">Dianbo
                  Liu</a> at <a href="https://ai.nus.edu.sg">NUS </a> and behavior modeling under <a
                  href="https://en.wikipedia.org/wiki/Jim_Whitehead_(computer_scientist)">Jim
                  Whitehead</a> at <a href="https://engineering.ucsc.edu">UCSC</a>.
              </p>
              <p>
                A tenor with the <a href="https://music.usc.edu/ensemble/concert-choir/">USC
                  Thornton Concert Choir</a> under <a href="https://music.usc.edu/tram-sparks/">Tram
                  Sparks</a>, my musical background is in Indian classical music under <a
                  href="https://www.youtube.com/watch?v=fTf4Rdon4rE">Asit Dey</a>. Trained in vocal performance
                from <a href="https://chhayanaut.org/chhayanaut">Chhayanaut Music School</a>, I also play harmonium,
                guitar, and piano.
              </p>

              <p style="text-align:center">
                Contact: zarifikram003[at]gmail[dot]com
                <br>
                <!-- <a target="_blank" href="https://mailhide.io/e/1gY6P"> Email</a> &nbsp;/&nbsp; -->
                <a href="https://github.com/zarifikram">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=_x0dj7sAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://twitter.com/TheZarifIkram">X</a> &nbsp;/&nbsp;
                <a href="https://www.youtube.com/c/zarifikram">YouTube</a> &nbsp;/&nbsp;
                <a href="https://www.admonymous.co/zarif-ikram">Anonymous Feedback</a> &nbsp;&nbsp;
                <!-- <a href="https://zarifikram.github.io/unfiltered-records/">Unfiltered songs</a> -->
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%;border-radius: 50%" alt="profile photo" src="images/avater.jpeg">
            </td>
          </tr>
        </table>

        <!-- Scrollbar code adapted from https://github.com/kkhetarpal/kkhetarpal.github.io/blob/master/index.html#L200 -->
        <!-- TODO: should be dynamically generated from markdown files -->



        <!-- Research papers -->
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tbody>
            <tr>
              <td style="padding:20px;width:100%;vertical-align:middle">
                <h2>Research</h2>
                <p>
                  I am interested in fundamental AI problems in world modeling and continual improvement.
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tbody>


            <table
              style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

              {% for post in site.posts %}
              {% for cat in post.categories %}
              {% if cat == 'research' %}
              <tr>
                <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                  <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
                </td>
                <td style="padding:2.5%;width:75%;vertical-align:middle">
                  {% if post.project_page %}
                  <a href="{{post.project_page}}"><span>{{post.title}}</span></a>
                  {% else %}
                  <span>{{post.title}}</span>
                  {% endif %}
                  <br>
                  {{post.authors}}

                  <br>
                  <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }} &nbsp;&nbsp; {% if post.accolade %}<strong>
                    <FONT COLOR="#ff0000">({{post.accolade}})</FONT>
                  </strong>{% endif %}
                  <br>
                  {% if post.venue2 %}<em>{{post.venue2}}</em><br>{% endif %}
                  {% if post.project_page %}
                  <a href="{{post.project_page}}">project page</a> /
                  {% endif %}
                  {% if post.paper %}
                  <a href="{{post.paper}}">paper</a> /
                  {% endif %}
                  {% if post.arxiv %}
                  <a href="{{post.arxiv}}">arXiv</a> /
                  {% endif %}
                  {% if post.video %}
                  <a href="{{post.video}}">video</a> /
                  {% endif %}
                  {% if post.code %}
                  <a href="{{post.code}}">code</a> /
                  {% endif %}
                  {% if post.poster %}
                  <a href="{{post.poster}}">poster</a> /
                  {% endif %}
                  {% if post.slides %}
                  <a href="{{post.slides}}">slides</a> /
                  {% endif %}
                  <p></p>
                  {{ post.excerpt }}
                </td>
              </tr>
              {% endif %}
              {% endfor %}
              {% endfor %}
            </table>

            <!-- Projects -->
            <table
              style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
              <tbody>
                <tr>
                  <td style="padding:20px;width:100%;vertical-align:middle">
                    <h2>Selected Talks/Lectures</h2>
                    <p>
                      I love to share my experiences with the audience and learn from them.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
              <tbody>


                <table
                  style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

                  {% for post in site.posts %}
                  {% for cat in post.categories %}
                  {% if cat == 'talks' %}
                  <tr>
                    <!-- <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                      <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
                    </td> -->
                    <td style="padding:0% 20px;width:75%;vertical-align:middle">
                      {% if post.project_page %}
                      <a href="{{post.project_page}}"><span>{{post.title}}</span></a>
                      {% else %}
                      <span><b>{{post.title}}</b></span>
                      {% endif %}
                      <br>
                      <!-- {{post.authors}}

                      <br> -->
                      <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }} &nbsp;&nbsp; {% if post.accolade %}<strong>
                        <FONT COLOR="#ff0000">({{post.accolade}})</FONT>
                      </strong>{% endif %}
                      <br>
                      {% if post.venue2 %}<em>{{post.venue2}}</em><br>{% endif %}
                      {% if post.project_page %}
                      <a href="{{post.project_page}}">project page</a> /
                      {% endif %}
                      {% if post.paper %}
                      <a href="{{post.paper}}">paper</a> /
                      {% endif %}
                      {% if post.arxiv %}
                      <a href="{{post.arxiv}}">arXiv</a> /
                      {% endif %}
                      {% if post.video %}
                      <a href="{{post.video}}">video</a> /
                      {% endif %}
                      {% if post.code %}
                      <a href="{{post.code}}">code</a> /
                      {% endif %}
                      {% if post.poster %}
                      <a href="{{post.poster}}">poster</a> /
                      {% endif %}
                      {% if post.presentation %}
                      <a href="{{post.presentation}}">presentation</a> /
                      {% endif %}
                      {% if post.slides %}
                      <a href="{{post.slides}}">slides</a> /
                      {% endif %}
                      {% if post.app %}
                      <a href="{{post.app}}">app</a> /
                      {% endif %}
                      <p></p>
                      {{ post.excerpt }}
                    </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                  {% endfor %}
                </table>


                <!-- Academic Services -->
                <table
                  style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                  <tbody>
                    <tr>
                      <td style="padding:20px;width:100%;vertical-align:middle">
                        <h2>Academic Services</h2>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table
                  style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                  <tbody>
                    <tr>
                      <td style="padding:20px;width:100%;vertical-align:middle">
                        <p>
                        <div>
                          Reviewer, <h3>ICLR </h3> <i>(2024-)</i></div>
                        </div>
                        <div>
                          Reviewer, <h3>ICML </h3> <i>(2025-)</i></div>
                        </div>
                        <div>
                          Reviewer, <h3>NeurIPS </h3> <i>(2024-)</i></div>
                        </div>
                        <div>
                          Reviewer, <h3>TMLR </h3> <i>(2024-)</i></div>
                        </div>
                        <!-- <div>
                          Reviewer, <h3>AISTATS </h3> <i>(2024)</i></div>
                        </div>
                        <div>
                          Reviewer, <h3>ITSC </h3> <i>(2023)</i></div>
                        </div> -->
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <!-- <table
                  style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                  <tbody>
                    <tr>
                      <td style="padding:20px;width:100%;vertical-align:middle">
                        <h2>Projects</h2>
                        <p>
                          These are mostly my side projects, which I did for hackathon or university course -- but
                          mostly
                          for fun.
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table
                  style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                  <tbody>


                    <table
                      style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

                      {% for post in site.posts %}
                      {% for cat in post.categories %}
                      {% if cat == 'project' %}
                      <tr>
                        <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                          <img src="{{post.image}}" alt="project image"
                            style="width:auto; height:auto; max-width:100%;" />
                        </td>
                        <td style="padding:2.5%;width:75%;vertical-align:middle">
                          {% if post.project_page %}
                          <a href="{{post.project_page}}"><span>{{post.title}}</span></a>
                          {% else %}
                          <span>{{post.title}}</span>
                          {% endif %}
                          <br>
                          {{post.authors}}

                          <br>
                          <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }} &nbsp;&nbsp; {% if post.accolade
                          %}<strong>
                            <FONT COLOR="#ff0000">({{post.accolade}})</FONT>
                          </strong>{% endif %}
                          <br>
                          {% if post.venue2 %}<em>{{post.venue2}}</em><br>{% endif %}
                          {% if post.project_page %}
                          <a href="{{post.project_page}}">project page</a> /
                          {% endif %}
                          {% if post.paper %}
                          <a href="{{post.paper}}">paper</a> /
                          {% endif %}
                          {% if post.arxiv %}
                          <a href="{{post.arxiv}}">arXiv</a> /
                          {% endif %}
                          {% if post.video %}
                          <a href="{{post.video}}">video</a> /
                          {% endif %}
                          {% if post.code %}
                          <a href="{{post.code}}">code</a> /
                          {% endif %}
                          {% if post.poster %}
                          <a href="{{post.poster}}">poster</a> /
                          {% endif %}
                          {% if post.presentation %}
                          <a href="{{post.presentation}}">presentation</a> /
                          {% endif %}
                          {% if post.slides %}
                          <a href="{{post.slides}}">slides</a> /
                          {% endif %}
                          {% if post.app %}
                          <a href="{{post.app}}">app</a> /
                          {% endif %}
                          <p></p>
                          {{ post.excerpt }}
                        </td>
                      </tr>
                      {% endif %}
                      {% endfor %}
                      {% endfor %}
                    </table> -->

                    <!-- Mentoring -->
                    <!-- <table
                      style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                      <tbody>
                        <tr>
                          <td style="padding:20px;width:100%;vertical-align:middle">
                            <h2>Mentoring</h2>
                            <p>
                              I am in no way accomplished for mentoring, but I do love to share insights from my
                              experiences
                              in a way that helps young researchers with limited capacity due to geographical/economic
                              situation. If you think I can help you in any way in your research, feel free to send an
                              email
                              about anything -- I reply fast.
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                      <tbody>
                        <tr>
                          <td style="padding:20px;width:100%;vertical-align:middle">
                            <p>
                            <div>
                              <h3>Taorui Huang</h3>, Freshman, Stanford CS <i>(2023)</i>
                            </div>
                            <i>PedGrid, ITSC 2023</i></div>
                            </div>
                            </p>

                            <div>
                              <h3>Abrar Rahman Abir</h3>, 3rd Year, BUET <i>(2024-)</i>
                            </div>
                            <i>IRI prediction with ML, AICCC 2024</i>
                            <div></div>
                            <i>Dirichlet flow matching for better representation, WIP</i></p>
                            </div>

                            <div>
                              UCSC CSE 107 students <i>(2024-)</i></div>
                            <i>Penny stock prediction with sequential ML, WIP</i></p>
                            </div>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table> -->

                    <!-- Music -->
                    <table
                      style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                      <tbody>
                        <tr>
                          <td style="padding:20px;width:100%;vertical-align:middle">
                            <h2>Music</h2>
                            <p>
                              My music interest is shaped by music lessons from the age of five till today and mostly
                              comprises of classical and comtemporary. I listen to <i>everything</i>.
                            <h4>Selected honors</h4>
                            <div>
                              <h3>Ensemble Award</h3>, USC Thornton School of Music <i>(2026)</i>
                            </div>
                            <div>
                              <h3>Lifetime Member Award</h3>, Notre Dame Cultural Club <i>(2020)</i>
                            </div>
                            </div>
                            <div>
                              <h3>Honorable Mention Award</h3>, Notre Dame College <i>(2019)</i>
                            </div>
                            </div>
                            <div>
                              <h3>Best Singer Award</h3>, National Board of Education <i>(2016)</i>
                            </div>
                            </div>
                            </div>
                            </p>
                            </p>
                            <p>
                            <h4>Selected Television and Stage Appearances</h4>
                            <div>
                              USC Spring Concert, Newman Recital Hall, LA <i>(2026)</i></div>
                            </div>
                            <div>
                              USC, Fall Concert, Newman Recital Hall, LA (Solo, <i>I'll be on my way</i>) <i>(2025)</i></div>
                            </div>
                            <div>
                              Classical Music Festival, Chhayanaut Auditorium, Dhaka <i>(2022-2024)</i></div>
                            </div>
                            <div>
                              গানের ঝরণা তলায় (Gaan er jhhorna talay), Bengal Foundation <i>(2020)</i></div>
                            </div>
                            <div>
                              নজরুল সঙ্গীত উৎসব, National Museum Auditorium <i>(2019)</i></div>
                            </div>
                            <div>
                              Cultural Ceremony, Pope's visit to Bangladesh, Notre Dame College, Dhaka <i>(2017)</i>
                            </div>
                            </div>
                            <div>
                              নজরুল সঙ্গীত উৎসব (Nazrul Sangeet Utshab), Chhayanaut Auditorium, Dhaka <i>(2013-2020)</i>
                            </div>
                            </div>
                            <div>
                              গানে গানে সকাল শুরু (Gaan e gaan e shokal shuru), Channel I <i>(2015)</i></div>
                            </div>
                            </p>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table
                      style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                      <tbody>
                        <tr>
                          <td style="padding:20px;width:20%;vertical-align:middle">
                            <script type='text/javascript' id='clustrmaps'
                              src='//cdn.clustrmaps.com/map_v2.js?cl=080808&w=a&t=tt&d=-1RQdexm-11ErW2PVUx4O2bPPUf35MlhlSiALjenB18&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=808080'></script>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <table
                      style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                      <tbody>


                        <table
                          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                          <tr>
                            <td style="padding:0px">
                              <br>
                              <p style="text-align:center;font-size:small;">
                                <a style="font-size:small;" href="https://jonbarron.info">this guy's website is kinda
                                  cool</a>.
                              </p>
                            </td>
                          </tr>
                        </table>

      </td>
    </tr>
  </table>
</body>

</html>
